.header {
  background-color: green;
  color: white;
  padding: 20px 10px;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  /* flex */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
